.manage-music {
  &-container {
    padding: 20px;
    display: flex;
    gap: 10px;
    background: #363636;
    isolation: isolate;
    align-items: center;
    &__content {
      &-play {
        width: 45px;
        height: 45px;
      }
      &-like {
        width: 35px;
        height: 35px;
        cursor: pointer;
      }
      &-download {
        width: 35px;
        height: 35px;
        cursor: pointer;
      }
      &-three-circle {
        width: 35px;
        height: 35px;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .manage-music-container {
    padding: 6px;
  }
  &-play {
    width: 35px;
    height: 35px;
  }
  &-like {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  &-download {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  &-three-circle {
    width: 25px;
    height: 25px;
  }
}
